<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="meals">
      <ion-icon name="pizza-outline"></ion-icon>
      <ion-label>Meals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addPage">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Add page</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workouts">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Workouts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
