<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> My Trainings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Trainings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar></ion-searchbar>

  <ion-card ion-background-color="dark">
    <ion-card-header>
      <ion-card-subtitle>21.10.2021</ion-card-subtitle>
      <ion-card-title>Breast</ion-card-title>
    </ion-card-header>

    <ion-card-content>Workout: BenchPress</ion-card-content>
    <ion-card-content>Weight: 60 kg</ion-card-content>
    <ion-card-content>Repetition: 10</ion-card-content>
    <ion-card-content>Number of series: 5</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>21.10.2021</ion-card-subtitle>
      <ion-card-title>Hands</ion-card-title>
    </ion-card-header>

    <ion-card-content>Workout: Push up</ion-card-content>
    <ion-card-content>Weight: 10 kg</ion-card-content>
    <ion-card-content>Repetition: 15</ion-card-content>
    <ion-card-content>Number of series: 5</ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
